* {
  margin: 0px;
  padding: 0px;
}

.portifolio {
  text-align: center;
  font-family: fantasy;
  font-size:30px;
  color: rgb(0, 0, 0);
  margin-left: 10%;
  z-index:1;
}
section {
  margin: 50px auto;
  width: 1025px;
  height: 150px;
}
.header {
  text-align: center;
  margin-top:2%;
  padding:10px;
  margin-left:auto;
  
}
.social a {
  width: 50px;
  height: 50px;
  margin: 5px;
  transition: all 0.4s ease-out;
  border-radius: 50%;
  display: inline-block;
  margin-left:50%;
  padding:5px;
  position:absolute;
  border: 4px solid;
  border-color:white;
}
.social:hover {
  cursor:pointer;
  transform:translateY(-20px);
  box-shadow: 4px 30px 16px 0px rgba(50, 50, 50, 45);
}
.social#github {
  left:67%;
 position:absolute;
}
.social#instagram {
  position:absolute;
  left:73%;
}
.social#linkedin {
  left:79%;
  position:absolute;
}

.icone {
  margin:0px auto;
  padding: 0px;
  width:100%;
  border-radius:50%;
}
body {
  font-family:fantasy,   sans-serif;
  background-image:url(https://img.favpng.com/14/19/19/cool-backgrounds-download-1080p-wallpaper-png-favpng-5RSGc3t8vhK9dabBEEPZBSukD.jpg);
}

p, li {
  font-size: 16px;
  margin-left: 10px;
  padding: auto;
}
.container {
  border: 5px solid;
  text-align: center;
  outline-style:double ;
  background-color:rgb(22, 168, 197);
}

.picture {
  border-radius: 50%;
  float: left;
  border:3px solid;
}
.container {
width: 80%;
text-align: center;
margin: 50px;
display: inline-block;
float:left;
}

img {
  display:block;
  margin:10px;
  position: relative;
}
.hero-title {
  margin-top: 10px;
  margin-right: 20%
}
h1,p {
  margin-top: 10px;
  text-align:auto;
  float:top;
  margin-right:20%
}
ul, li {
  text-align:center;
  list-style: none;
}
.list {
  border: 5px solid;
  outline-style: double;
  margin:100px 180px;
  padding:10px;
  background-color:rgb(137, 255, 255);
}
.city {
  text-align:center;
  margin-left:15%;
}