* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family:fantasy,   sans-serif;
  background-image:url(https://cdn.dribbble.com/users/5031/screenshots/3713646/attachments/832536/wallpaper_mikael_gustafsson.png);
  background-size:auto
}
.portifolio {
  text-align: center;
  font-family: fantasy;
  font-size:30px;
  color: rgb(255, 255, 255);
  margin-left: 20%;
  z-index:1;
}
section {
  margin: 50px auto;
  width: 100%;
}
.header {
  text-align: center;
  margin-top:2%;
  padding:10px;
  margin-left:auto;
  
}
.social a {
  width: 50px;
  height: 50px;
  margin: 5px;
  transition: all 0.4s ease-out;
  border-radius: 50%;
  display: inline-block;
  padding:5px;  
  border: 4px solid;
  border-color:rgb(8, 7, 7);
}
.social:hover {
  cursor:pointer;
  transform:translateY(-20px);
}
.social#github {
 display:inline-block;
 position: absolute;
 left:67%;
 
 
}
.social#instagram {
  display: inline-block;
  position: absolute;
  left:73%
}
.social#linkedin {
  display: inline-block;
  position: absolute;
  left:79%;
}

.icone {
  margin:0px auto;
  padding: 0px;
  width:100%;
  border-radius:50%;
}


p, li {
  font-size: 16px;
  margin-left: 10px;
  padding: auto;
}

.picture {
  border-radius: 50%;
  float: left;
  border:3px solid;
}
.container {
width: 80%;
text-align: center;
margin: 10%;
display: inline-block;
float:left;
outline-style:double ;
background-color:rgb(22, 168, 197);
}

img {
  display:block;
  margin:10px;
  position: relative;
}
.hero-title {
  margin-top: 10px;
  margin-right: 20%
}
h1,p {
  margin-top: 10px;
  text-align:auto;
  float:top;
  margin-right:20%;
  position:relative;
}
ul, li {
  text-align:center;
  list-style: none;
}
.list {
  border: 5px solid;
  outline-style: double;
  margin:100px 180px;
  padding:10px;
  background-color:rgb(137, 255, 255);
  position: absolute;
}
.city {
  margin-left: 20%;
  color:rgb(255, 255, 255);
 
}
